<table class="TableSettings table-bordered">
  <thead>
  <tr class="TableHeader">
    <td *ngFor="let head of headers" scope="col">{{head}}</td>
  </tr>
  </thead>

  <tbody class="TableBox" >
  <tr *ngFor="let query of IncomingBackupQuery$">
    <td>{{ query.BackupDate}}</td>
    <td>{{ query.Name }}</td>
    <td>{{ query.Configuration }}</td>
    <td>{{ query.Description}}</td>
    <td class="Row">
      <button type="button" class="btn btn-outline-secondary">Nastavení</button>
    </td>
  </tr>
  </tbody>
</table>
