table {
  width: 100%;
  text-align: center;

}
.TableHeader
{
  font-weight: 500;
  font-size: larger;
  color:#1E90FF;
}

.Head
{
  float: left;
  width: 60%;
}
.Row
{

  font-weight: 200;
  .btn
  {
    margin: 2px;
    width: 20vh;
    height: 4vh;
  }

}


.ConfigModal
{
  text-align: center;
  align-items: center;
  .form-control
  {
    width: 20vh;
  }
  .LabelClass
  {
    margin: 2vh 3vh 2vh;
    text-align: center;
    align-items: center;
    display: inline-block;
  }

  .CheckBoxClass
  {
    margin: 2.5vh;
    text-align: center;
    align-items: center;
    display: inline-block;

    .container {
      margin: 0 auto;
    }

  }
  .form-group
  {
    width: 50%;
  }

}


.Local {
  text-align: center;
  align-items: center;
  margin-top: 3vh;
  .form-control {
    width: 55vh;
  }
  .btn
  {
    margin: 15px;
  }

}


.FTP {
  text-align: center;
  align-items: center;

  .form-control {
    width: 20vh;
  }

  .LabelClass
  {
    margin-left: 2vh;
    margin-right: 3vh;
    text-align: center;
    align-items: center;
  }
  .btn
  {
    margin: 15px;
  }
}


