.Fonticek
{
  color: Green;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3.5%;
  font-size: 40px;
  font-weight: bold;
  border-left-;
}
.square {
  background-color: lightgray;
  width: 103%;
  height: 190px;

  display: flex;
  align-items: center ;
  justify-content: center;

  margin-left: -2%;
  margin-top: -3.5%;

  border-bottom-style: groove;
}


