
.NavSquare {
  width: 103%;
  height: 180px;

  display: flex;
  align-items: center ;

  margin-left: -2%;
  margin-top: -2%;

}
.Test
{
  background-color: white;
  width: 20%;
  height: 170px;

  display: flex;
  align-items: center ;
  justify-content: center;
  border-left: solid 1px Black ;
  border-bottom: solid 2px Black;

  color: brown;
  font-size: 43px;
  font-family: "Trebuchet MS";
  border-radius: 5px;

}





