<table class="TableSettings table-bordered">
  <thead>
        <tr class="TableHeader">
            <td *ngFor="let head of headers">{{ head }}</td>
        </tr>
    </thead>
    <tbody class="TableBox">
        <tr class="Row" *ngFor='let client of LoggedClientsQuery$'>
            <td>{{ client.Id }}</td>
            <td>{{ client.Name }}</td>
            <td>{{ client.MAC }}</td>
            <td>{{ client.Configuration }}</td>
          <td class="Row">
            <button type="button" class="btn btn-outline-secondary" (click)="openModal('client-edit-modal', client)">Nastavení</button>
          </td>
          <td class="Row">
          <button type="button" class="btn btn-outline-danger" (click)="OnDelete(client.Id)">Smazat</button>
        </td>
        </tr>
    </tbody>

</table>



<jw-modal id="client-edit-modal">

  <h1>Nová konfigurace</h1>

  <form [formGroup]="editClientForm">

    <label> {{ editClientForm.get('ClientName').value }} </label>

    <button (click)="closeModal('client-edit-modal')" class="btn btn-success">Uložit</button>
    <button (click)="closeModal('client-edit-modal')" class="btn btn-danger">Storno</button>

  </form>

</jw-modal>