<table class="TableSettings table-bordered">
  <thead>
  <tr class="TableHeader">
    <td *ngFor="let head of headers">{{ head }}</td>
  </tr>
  </thead>
  <tbody class="TableBox">
  <tr class="Row" *ngFor='let query of NewClientsQuery$'>
    <td>{{ query.DateOfLogin }}</td>
    <td>{{ query.Name }}</td>
    <td class="Row">
      <button type="button" (click)="openModal('custom-modal-1')">Přijmout</button>
    </td>
    <td class="Row">
      <button type="button" class="btn btn-danger">Odmítnout</button>
    </td>
  </tr>
  </tbody>
</table>

<jw-modal id="custom-modal-1">
  <h1>A Custom Modal!</h1>
  <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
  <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>
