<table class="TableSettings table-bordered">
  <thead>
  <tr class="TableHeader">
    <td *ngFor="let head of headers">{{ head }}</td>
  </tr>
  </thead>
  <tbody class="TableBox">
  <tr class="Row" *ngFor='let query of NewClientsQuery$'>
    <td>{{ query.Name }}</td>
    <td class="Row">
      <button type="button" (click)="openModal('edit-client-modal', query)">Přijmout</button>
    </td>
    <td class="Row">
      <button type="button" class="btn btn-danger">Odmítnout</button>
    </td>
  </tr>
  </tbody>
</table>

<jw-modal id="edit-client-modal">
  <h1>Nový klient</h1>
  <p>Název klienta: <input #myInput type="text" [(ngModel)]="myClient.Name"/></p>
  <button (click)="closeModal('edit-client-modal'); saveNewClientName(myInput.value)">Save</button>
  <button (click)="closeModal('edit-client-modal');">Close</button>
</jw-modal>
