<table class="TableSettings table-bordered">
  <thead>
  <tr class="TableHeader">
    <td *ngFor="let head of headers">{{ head }}</td>
  </tr>
  </thead>
  <tbody class="TableBox">
  <tr class="Row" *ngFor='let query of NewClientsQuery$'>
    <td>{{ query.Name }}</td>
    <td class="Row">
      <button type="button" (click)="openModal('client-new-name-modal', query)"class="btn btn-success">Přijmout</button>
    </td>
    <td class="Row">
      <button type="button" (click)="deny(query)" class="btn btn-danger">Odmítnout</button>
    </td>
  </tr>
  </tbody>
</table>

<jw-modal class="NewClientsModal" id="client-new-name-modal">
  <form [formGroup]="newClientForm">
      <h1>Nový klient</h1>
      <input type="text" formControlName="ClientName" class="form-control" placeholder="Název Klienta"  [ngClass]="{ 'is-invalid':ncf.myClientName.errors }" />
      <div *ngIf="ncf.myClientName.errors" class="invalid-feedback">
        <div *ngIf="ncf.myClientName.errors.required">Jméno je vyžadováno</div>
      </div>
    <button (click)="closeModal('client-new-name-modal'); saveNewClientName()" class="btn btn-success">Uložit</button>
    <button (click)="closeModal('client-new-name-modal')" class="btn btn-danger">Storno</button>
  </form>
</jw-modal>
