.container-header {
  width: 100%;
  height: 47px;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  //margin-bottom: 10px;
  ul {
    list-style: none;
    li {
      display: inline-block;
      padding-left: 50px;
      top: 0px;
      a {
        color: black;
        opacity: 0.5;
      }
      a:hover {
        opacity: 1;
        text-decoration: none;
        cursor: pointer;
      }
    }
    .right {
      opacity: 0.5;
      color: Gold;
      margin-right: 15px;
      float: right;
    }
    .right:hover {
      opacity: 1;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
