<header>
  <div class="container-header">
    <ul>

      <li class="Object"><a routerLink="/clients">Klienti</a></li>
      <li class="Object"><a routerLink="/configurations">Konfigurace</a></li>
      <li class="Object"><a routerLink="/incomingbackups"> Nadcházející zálohy </a></li>
      <li class="Object"><a routerLink="/completedbackups">Dokončené Zálohy</a></li>


      <nav class="navbar right">
        <div>
          <ul >
              <a data-toggle="dropdown" >User</a>
              <ul class="dropdown-menu ">
                <li><a>Nastavení</a></li>
                <div class="dropdown-divider"></div>
                <li><a>O Aplikaci</a></li>
                <div class="dropdown-divider"></div>
                <li><a>Odhlásit se</a></li>
              </ul>
          </ul>
        </div>
      </nav>


    </ul>
  </div>
</header>
<router-outlet></router-outlet>
