/* You can add global styles to this file, and also import other style files */
.FontStyle
{
  font-size: 50px;
  color: black;
}
.background {
  left:-5%;
  top: -10%;
  bottom: -250%;
  width: 150%;
  height: 170%;
  position: absolute;
  background-color: #4f8c64;
}
