@import "~bootstrap/dist/css/bootstrap.min.css";


//Background
.background {
  width: 100vw;
  height: 100vh;
  background-color: #FEFEFA;
}



.middle{
  position: absolute;
  top: 15vh;
  left: 55%;
  transform: translate(-70%,-70%);
  li{
    display: inline-block;
  }
  a:hover
  {
    color: white;
    text-decoration: none;
  }
}
.button{
  position: relative;
  display: block;
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin: 3vh;
  border: 1px solid #000c18;
  padding: 14px 60px;
  overflow: hidden;
  transition: 1s all ease;
  border-radius: 5px;
}
.button::before{
  background: #000c18;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.4s ease;
}

.btn1::before{
  width: 0%;
  height: 100%;
}

.btn1:hover::before{
  width: 100%;
}


//Table
.TableSettings
{
  width: 170vh;
  margin-left:auto;
  margin-right:auto;
  justify-content: center;
  text-align: center;
  margin-top: 4vh;
  background-color: #F8F8FF;
  box-shadow: 0.2vw 0.6vw 0.4vw 0.2vw rgba(0, 0, 0, 0.19);
}

.TableHeader
{
  background-color: #000c18;
  font-weight: inherit;
  font-size: 2.8vh;
  color: whitesmoke;
  height: 4.5vh;
}
.TableBox
{
  width: 16vh;

}
.Row
{
  width: 20vh;
  height: 5vh;
}

.btn
{
  width: 15vh;
  height: 3.8vh;
}

