.test
{
  float: left;
  width: 60%;
}
.test2
{
  text-align: center;
  align-items: center;
  .btn
  {
    margin: 15px;
    width: 25vh;
    height: 5vh;
  }

}


.ConfigModal
{
  text-align: center;
  align-items: center;
  .form-control
  {
    width: 20vh;
  }
  .LabelClass
  {
    margin: 2vh 3vh 2vh;
    text-align: center;
    align-items: center;
    display: inline-block;
  }
  .CheckBoxClass
  {
    margin: 2.5vh;
    text-align: center;
    align-items: center;
    display: inline-block;
  }
  .form-group
  {
    width: 50%;
  }

}


.Local {
  text-align: center;
  align-items: center;
  margin-top: 3vh;
  .form-control {
    width: 55vh;
  }
  .btn
  {
    margin: 15px;
  }

}
.FTP {
  text-align: center;
  align-items: center;

  .form-control {
    width: 20vh;
  }

  .LabelClass
  {
    margin-left: 2vh;
    margin-right: 3vh;
    text-align: center;
    align-items: center;
  }
  .btn
  {
    margin: 15px;
  }
}

.Google
{
  text-align: center;
  align-items: center;

  .form-control {
    width: 20vh;
  }

  .LabelClass
  {
    margin-left: 2vh;
    margin-right: 3vh;
    text-align: center;
    align-items: center;
  }
  .btn
  {
    margin: 15px;
  }
}





