<header>
  <div class="page-header">
    <ul class="middle">
      <li><a class="button btn1" (click)="openModal('configuration-new-modal')" >Vytvořit novou konfiguraci</a></li>
    </ul>
  </div>
</header>

<app-configuration-table></app-configuration-table>


<jw-modal id="configuration-new-modal">
  <form [formGroup]="newConfigurationForm">

      <h1 style = "text-align: center" >Nová konfigurace</h1>

    <div class="test">

      <div formGroupName="configurationBasicSettings" class="ConfigModal">
        <label class="LabelClass">
          Název Konfigurace
          <input type="text" class="form-control" formControlName="ConfigurationName">
        </label>

        <label class="LabelClass">
          Backup Type
          <input type="text" class="form-control" formControlName="BackupType" placeholder="Backup Type">
        </label>

        <label class="LabelClass">
          File Type
          <input type="text" class="form-control" formControlName="FileType" placeholder="File Type">
        </label>
      </div>



      <div formGroupName="" class="ConfigModal">
        <label class="LabelClass">
          Kalendář
          <input type="text" class="form-control" formControlName="Calendary">
        </label>

        <label class="LabelClass">
          Interval Záloh
          <input type="text" class="form-control" formControlName="BackupInterval" >
        </label>

        <label class="LabelClass">
          Čas zálohy
          <input type="text" class="form-control" formControlName="BackupTime">
        </label>

        <label class="LabelClass">
          Max. počet záloh
          <input type="text" class="form-control" formControlName="MaxBackup">
        </label>
      </div>


      <div formGroupName="" class="ConfigModal">
        <label class="checkbox-inline CheckBoxClass"><input type="checkbox" value="">Monday</label>
        <label class="checkbox-inline CheckBoxClass"><input type="checkbox" value="">Tuesday</label>
        <label class="checkbox-inline CheckBoxClass"><input type="checkbox" value="">Monday</label>
        <label class="checkbox-inline CheckBoxClass"><input type="checkbox" value="">Monday</label>
        <label class="checkbox-inline CheckBoxClass"><input type="checkbox" value="">Monday</label>
        <label class="checkbox-inline CheckBoxClass"><input type="checkbox" value="">Monday</label>
        <label class="checkbox-inline CheckBoxClass"><input type="checkbox" value="">Monday</label>
      </div>

      <div class="form-group ConfigModal">
        <label class="LabelClass" style="margin: 1vh">
          Popisek
          <textarea class="form-control" style="width:80vh;margin:2vh" rows="8" ></textarea>
        </label>

      </div>


    </div>







      <div formGroupName="localDestination" class="Local">
        <label class="LabelClass">
          Path
          <input type="text" class="form-control" formControlName="Site" placeholder="Site">
          <button  class="btn btn-success">Přidat</button>
          <button  class="btn btn-danger">Odebrat</button>

          <button class="btn btn-outline-dark" type="button">Dropdown </button>
        </label>
      </div>



      <div formGroupName="ftpDestination" class="FTP">
          <label class="LabelClass">
            Path
            <input type="text" formControlName="Path" class="form-control" style="width: 50vh;">
          </label>

          <label class="LabelClass">
            Site
            <input type="text" formControlName="Site" class="form-control">
          </label>

          <label class="LabelClass">
            Password
            <input type="text" formControlName="Password" class="form-control">
          </label>

          <label class="LabelClass">
            Login
            <input type="text" formControlName="Login" class="form-control">
          </label>

          <label class="LabelClass">
            Port
            <input type="text" formControlName="Port" class="form-control" >
          </label>
          <button  class="btn btn-success">Přidat</button>
          <button  class="btn btn-danger">Odebrat</button>

          <button class="btn btn-outline-dark" type="button">Dropdown </button>
      </div>

    <div formGroupName="Google" class="Google">

      <label class="LabelClass">
        Path
        <input type="text" formControlName="Path" class="form-control" style="width: 50vh;">
      </label>

      <label class="LabelClass">
        Path
        <input type="text" formControlName="Path" class="form-control" style="width: 50vh;">
      </label>

      <label class="LabelClass">
        Path
        <input type="text" formControlName="Path" class="form-control" style="width: 50vh;">
      </label>

    </div>



  </form>
</jw-modal>
