<header>
  <div class="page-header">
    <ul class="middle">
      <li><a (click)="openModal('configuration-new-modal')" class="button btn1">Vytvořit novou konfiguraci</a></li>
    </ul>
  </div>
</header>

<app-configuration-table></app-configuration-table>


<jw-modal id="configuration-new-modal">

  <h1>Nová konfigurace</h1>

  <form [formGroup]="newConfigurationForm">
    
    <div formGroupName="configurationBasicSettings">
        <input type="text" formControlName="ConfigurationName">
        <label *ngIf="newConfigurationForm.get('configurationBasicSettings.ConfigurationName').hasError('required')">
          Vyplňte prosím jméno!
        </label>
        <input type="text" formControlName="BackupType">
        <input type="text" formControlName="FileType">
        <input type="number" formControlName="MaxBackupsNumber">
        <input type="text" formControlName="Description">
    </div>

    <div formGroupName="recurrencePicker">
      <input type="date" formControlName="StartDate">
      <input type="time" formControlName="Time">

      <input type="number" formControlName="Interval" min=1>
      <select formControlName="IntervalUnits">
        <option value="day">den</option>
        <option value="week">týden</option>
        <option value="month">měsíc</option>
        <option value="year">rok</option>
      </select>

      <div formGroupName="WeekInterval" 
        *ngIf="newConfigurationForm.get('recurrencePicker.IntervalUnits').value=='week'">
        <input type="checkbox" formControlName="Monday">
        <input type="checkbox" formControlName="Tuesday">
        <input type="checkbox" formControlName="Wednesday">
        <input type="checkbox" formControlName="Thursday">
        <input type="checkbox" formControlName="Friday">
        <input type="checkbox" formControlName="Saturday">
        <input type="checkbox" formControlName="Sunday">
      </div>

      <div formGroupName="MonthInterval" 
        *ngIf="newConfigurationForm.get('recurrencePicker.IntervalUnits').value=='month'">
        <select formControlName="SpecifiedDay">
          <option value="day">1. den</option>
          <option value="dayOfWeek">první sobota</option>
        </select>
      </div>
    </div>

    <div formGroupName="localDestination">
      <input type="checkbox" formControlName="Bool">

      <select formControlName="SelectedLocalDest">
          <option formArrayName="arrayLocalDest" 
          *ngFor="let item of ald['controls']; let i = index;">{{ i }}</option>
      </select>

        <div formArrayName="arrayLocalDest" 
        *ngFor="let item of ald['controls']; let i = index;">
          <div formGroupName="i">
            <input type="text" formControlName="Path">
          </div>
        </div>

      <button (click)="addLocalDest()" class="btn btn-success">Přidat</button>
      <button (click)="removeAtLocalDest()" class="btn btn-danger">Odebrat</button>
    </div>

    <div formGroupName="ftpDestination">
      <input type="checkbox" formControlName="Bool">
      <input type="text" formControlName="Path">
      <input type="text" formControlName="Site">
      <input type="text" formControlName="Password">
      <input type="text" formControlName="Login">
      <input type="text" formControlName="Port">
    </div>

    <div formGroupName="source">
      <input type="text" formControlName="Path">
    </div>

    <button (click)="closeModal('configuration-new-modal')" class="btn btn-success">Uložit</button>
    <button (click)="closeModal('configuration-new-modal')" class="btn btn-danger">Storno</button>

  </form>
</jw-modal>
